<h2>Modifica servizio</h2>
<div class="form-block">
	%MESSAGGIO%
    <form id="servizio-form" action="edit_servizio.php?id=%ID%" method="POST">
        <fieldset class="dati-servizio">
            <legend>Dati sul servizio:</legend>
                <input type="hidden" name="_id" value="%ID%" />
            <span>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" value="%NOME%" minlength="1" maxlength="50" required/>
            </span>
            <span>
                <label for="duration">Durata:</label>
                <input type="number" min="1" max="240" step="1" id="duration" name="duration" value="%DURATA%" required/>
            </span>
            <span>
                <label for="price">Prezzo:</label> <span class="error" id="price-error"></span>
                <input type="text" id="price" name="price" minlength="4" maxlength="8" value="%PREZZO%" required onblur="onPrice();"/>
            </span>
            <span>
                <label for="description">Descrizione:</label>
                <textarea name="description" rows="10" cols="40" required>%DESCRIZIONE%</textarea>
            </span>
        </fieldset>    
        <input type="submit" value="Salva" id="Salva"/>
    </form>
</div>


<script>
    //new RegExp(/^[0-9]{1,5}(,[0-9]{1,2})?$/); //regex per controllare il prezzo
	function onPrice()
	{
		let p = document.getElementById("price").value;
		if(!/^[0-9]{1,5}(,[0-9]{1,2})?$/.test(p))
		{
			document.getElementById('Salva').setAttribute('aria-disabled', true);
			document.getElementById('Salva').classList.add('disabled');
			document.getElementById("price-error").innerText="Formato non valido.";
		}
		else
		{
			document.getElementById('Salva').setAttribute('aria-disabled', false);
			document.getElementById('Salva').classList.remove('disabled');
			document.getElementById("price-error").innerText="";
		}
	}
</script>